

/* Black Atom — Dimmed Dark */
.theme-dark.black-atom-default-dimmed-dark {
  /* Foundation: Base Colors */

  --color-base-00: #12171b;
  --color-base-05: #20252a;
  --color-base-10: #2e3339;
  --color-base-20: #3e4349;
  --color-base-25: #595e64;
  --color-base-30: #6a6f76;
  --color-base-35: #7b8187;
  --color-base-40: #8d9399;
  --color-base-50: #d2d8df;
  --color-base-60: #dbe2e9;
  --color-base-70: #e5ecf3;
  --color-base-100: #eff6fd;


  /* Extended Colors */
  --color-red: #8d9399;
  --color-red-rgb: 141, 147, 153;
  --color-orange: #7b8187;
  --color-orange-rgb: 123, 129, 135;
  --color-yellow: #7b8187;
  --color-yellow-rgb: 123, 129, 135;
  --color-green: #8d9399;
  --color-green-rgb: 141, 147, 153;
  --color-cyan: #4ec983;
  --color-cyan-rgb: 78, 201, 131;
  --color-blue: #6a6f76;
  --color-blue-rgb: 106, 111, 118;
  --color-purple: #7faaff;
  --color-purple-rgb: 127, 170, 255;
  --color-pink: #fb82a1;
  --color-pink-rgb: 251, 130, 161;

  /* Backgrounds */
  --background-primary: #20252a;
  --background-primary-alt: #2e3339;
  --background-secondary: #12171b;
  --background-secondary-alt: #12171b;
  --background-modifier-hover: #2e3339;
  --background-modifier-active-hover: #2e3339;
  --background-modifier-border: #2e3339;
  --background-modifier-border-hover: #2e3339;
  --background-modifier-border-focus: #4ec983;
  --background-modifier-error-rgb: 99, 57, 67;
  --background-modifier-error: #633943;
  --background-modifier-error-hover: #633943;
  --background-modifier-success-rgb: 47, 81, 54;
  --background-modifier-success: #2f5136;
  --background-modifier-message: #255154;
  --background-modifier-form-field: #20252a;

  /* Text */
  --text-normal: #e5ecf3;
  --text-muted: #7b8187;
  --text-faint: #6a6f76;
  --text-accent: #4ec983;
  --text-accent-hover: #4ec983;
  --text-on-accent: #20252a;
  --text-on-accent-inverted: #e5ecf3;
  --text-error: #e97292;
  --text-warning: #dd881b;
  --text-success: #4cb86a;
  --text-selection: #3e4349;
  --text-highlight-bg: #3e4349;

  /* Interactive */
  --interactive-normal: #20252a;
  --interactive-hover: #2e3339;
  --interactive-accent: #4ec983;
  --interactive-accent-hover: #4ec983;

  /* Headings */
  --h1-color: #4ec983;
  --h2-color: #4ec983;
  --h3-color: #4ec983;
  --h4-color: #d2d8df;
  --h5-color: #d2d8df;
  --h6-color: #d2d8df;

  /* Markup */
  --bold-color: #4ec983;
  --italic-color: #4ec983;
  --blockquote-border-color: #7b8187;
  --link-color: #4ec983;
  --link-color-hover: #4ec983;
  --link-external-color: #4ec983;
  --link-external-color-hover: #4ec983;

  /* Code / Syntax Highlighting */
  --code-normal: #d2d8df;
  --code-comment: #595e64;
  --code-function: #e5ecf3;
  --code-important: #7faaff;
  --code-keyword: #7faaff;
  --code-operator: #dbe2e9;
  --code-property: #7b8187;
  --code-punctuation: #d2d8df;
  --code-string: #5bb661;
  --code-tag: #4ec983;
  --code-value: #d2d8df;
  --code-background: #12171b;

  /* Tags */
  --tag-color: #4ec983;
  --tag-color-hover: #4ec983;
  --tag-background: #2e3339;
  --tag-background-hover: #2e3339;

  /* Graph */
  --graph-line: #2e3339;
  --graph-node: #4ec983;
  --graph-node-focused: #4ec983;
  --graph-node-tag: #4ec983;
  --graph-node-attachment: #8d9399;

  /* Scrollbar */
  --scrollbar-bg: #20252a;
  --scrollbar-thumb-bg: #2e3339;
  --scrollbar-active-thumb-bg: #7b8187;

  /* Nav */
  --nav-item-background-hover: #2e3339;
  --nav-item-background-active: #2e3339;
  --nav-item-background-selected: #3e4349;
  --nav-item-color: #e5ecf3;
  --nav-item-color-hover: #e5ecf3;
  --nav-item-color-active: #4ec983;
  --nav-item-color-selected: #e5ecf3;
}
