

/* Black Atom — Dimmed Light */
.theme-light.black-atom-default-dimmed-light {
  /* Foundation: Base Colors */

  --color-base-00: #e5ecf3;
  --color-base-05: #d8dfe6;
  --color-base-10: #c8ced5;
  --color-base-20: #a8afb5;
  --color-base-25: #757b81;
  --color-base-30: #646a70;
  --color-base-35: #53595f;
  --color-base-40: #43484e;
  --color-base-50: #292e34;
  --color-base-60: #1b2025;
  --color-base-70: #0e1217;
  --color-base-100: #03060a;


  /* Extended Colors */
  --color-red: #53595f;
  --color-red-rgb: 83, 89, 95;
  --color-orange: #646a70;
  --color-orange-rgb: 100, 106, 112;
  --color-yellow: #646a70;
  --color-yellow-rgb: 100, 106, 112;
  --color-green: #757b81;
  --color-green-rgb: 117, 123, 129;
  --color-cyan: #2eaf6b;
  --color-cyan-rgb: 46, 175, 107;
  --color-blue: #53595f;
  --color-blue-rgb: 83, 89, 95;
  --color-purple: #6791f1;
  --color-purple-rgb: 103, 145, 241;
  --color-pink: #df6989;
  --color-pink-rgb: 223, 105, 137;

  /* Backgrounds */
  --background-primary: #d8dfe6;
  --background-primary-alt: #e5ecf3;
  --background-secondary: #c8ced5;
  --background-secondary-alt: #c8ced5;
  --background-modifier-hover: #a8afb5;
  --background-modifier-active-hover: #a8afb5;
  --background-modifier-border: #e5ecf3;
  --background-modifier-border-hover: #a8afb5;
  --background-modifier-border-focus: #2eaf6b;
  --background-modifier-error-rgb: 246, 201, 218;
  --background-modifier-error: #f6c9da;
  --background-modifier-error-hover: #f6c9da;
  --background-modifier-success-rgb: 190, 220, 187;
  --background-modifier-success: #bedcbb;
  --background-modifier-message: #c1dce1;
  --background-modifier-form-field: #d8dfe6;

  /* Text */
  --text-normal: #0e1217;
  --text-muted: #43484e;
  --text-faint: #646a70;
  --text-accent: #2eaf6b;
  --text-accent-hover: #2eaf6b;
  --text-on-accent: #c8ced5;
  --text-on-accent-inverted: #0e1217;
  --text-error: #ff50a7;
  --text-warning: #ff7e00;
  --text-success: #00a800;
  --text-selection: #a8afb5;
  --text-highlight-bg: #a8afb5;

  /* Interactive */
  --interactive-normal: #d8dfe6;
  --interactive-hover: #a8afb5;
  --interactive-accent: #2eaf6b;
  --interactive-accent-hover: #2eaf6b;

  /* Headings */
  --h1-color: #2eaf6b;
  --h2-color: #2eaf6b;
  --h3-color: #2eaf6b;
  --h4-color: #292e34;
  --h5-color: #292e34;
  --h6-color: #292e34;

  /* Markup */
  --bold-color: #2eaf6b;
  --italic-color: #2eaf6b;
  --blockquote-border-color: #53595f;
  --link-color: #2eaf6b;
  --link-color-hover: #2eaf6b;
  --link-external-color: #2eaf6b;
  --link-external-color-hover: #2eaf6b;

  /* Code / Syntax Highlighting */
  --code-normal: #292e34;
  --code-comment: #757b81;
  --code-function: #1b2025;
  --code-important: #6791f1;
  --code-keyword: #6791f1;
  --code-operator: #1b2025;
  --code-property: #53595f;
  --code-punctuation: #292e34;
  --code-string: #409d48;
  --code-tag: #2eaf6b;
  --code-value: #292e34;
  --code-background: #c8ced5;

  /* Tags */
  --tag-color: #2eaf6b;
  --tag-color-hover: #2eaf6b;
  --tag-background: #a8afb5;
  --tag-background-hover: #e5ecf3;

  /* Graph */
  --graph-line: #e5ecf3;
  --graph-node: #2eaf6b;
  --graph-node-focused: #2eaf6b;
  --graph-node-tag: #2eaf6b;
  --graph-node-attachment: #757b81;

  /* Scrollbar */
  --scrollbar-bg: #d8dfe6;
  --scrollbar-thumb-bg: #e5ecf3;
  --scrollbar-active-thumb-bg: #43484e;

  /* Nav */
  --nav-item-background-hover: #a8afb5;
  --nav-item-background-active: #e5ecf3;
  --nav-item-background-selected: #a8afb5;
  --nav-item-color: #0e1217;
  --nav-item-color-hover: #0e1217;
  --nav-item-color-active: #2eaf6b;
  --nav-item-color-selected: #0e1217;
}
