

/* Black Atom — TERRA ∷ Summer Light */
.theme-light.black-atom-terra-summer-light {
  /* Foundation: Base Colors */

  --color-base-00: #ffeedd;
  --color-base-05: #f7e9d6;
  --color-base-10: #eee4cf;
  --color-base-20: #e4dec8;
  --color-base-25: #a2a457;
  --color-base-30: #798940;
  --color-base-35: #506e2c;
  --color-base-40: #26541c;
  --color-base-50: #245427;
  --color-base-60: #093e1b;
  --color-base-70: #00280f;
  --color-base-100: #001908;


  /* Extended Colors */
  --color-red: #ac6e59;
  --color-red-rgb: 172, 110, 89;
  --color-orange: #c67b36;
  --color-orange-rgb: 198, 123, 54;
  --color-yellow: #a19021;
  --color-yellow-rgb: 161, 144, 33;
  --color-green: #768c00;
  --color-green-rgb: 118, 140, 0;
  --color-cyan: #459178;
  --color-cyan-rgb: 69, 145, 120;
  --color-blue: #5a8f65;
  --color-blue-rgb: 90, 143, 101;
  --color-purple: #b67c8d;
  --color-purple-rgb: 182, 124, 141;
  --color-pink: #aa7fa5;
  --color-pink-rgb: 170, 127, 165;

  /* Backgrounds */
  --background-primary: #f7e9d6;
  --background-primary-alt: #e4dec8;
  --background-secondary: #eee4cf;
  --background-secondary-alt: #eee4cf;
  --background-modifier-hover: #e4dec8;
  --background-modifier-active-hover: #e4dec8;
  --background-modifier-border: #e4dec8;
  --background-modifier-border-hover: #e4dec8;
  --background-modifier-border-focus: #c67b36;
  --background-modifier-error-rgb: 225, 207, 201;
  --background-modifier-error: #e1cfc9;
  --background-modifier-error-hover: #e1cfc9;
  --background-modifier-success-rgb: 208, 216, 190;
  --background-modifier-success: #d0d8be;
  --background-modifier-message: #cbd8cd;
  --background-modifier-form-field: #f7e9d6;

  /* Text */
  --text-normal: #00280f;
  --text-muted: #26541c;
  --text-faint: #506e2c;
  --text-accent: #c67b36;
  --text-accent-hover: #c67b36;
  --text-on-accent: #f7e9d6;
  --text-on-accent-inverted: #00280f;
  --text-error: #ac6e59;
  --text-warning: #c67b36;
  --text-success: #768c00;
  --text-selection: #ffeedd;
  --text-highlight-bg: #ffeedd;

  /* Interactive */
  --interactive-normal: #f7e9d6;
  --interactive-hover: #e4dec8;
  --interactive-accent: #c67b36;
  --interactive-accent-hover: #c67b36;

  /* Headings */
  --h1-color: #a19021;
  --h2-color: #a19021;
  --h3-color: #a19021;
  --h4-color: #26541c;
  --h5-color: #26541c;
  --h6-color: #26541c;

  /* Markup */
  --bold-color: #a19021;
  --italic-color: #a19021;
  --blockquote-border-color: #768c00;
  --link-color: #768c00;
  --link-color-hover: #768c00;
  --link-external-color: #768c00;
  --link-external-color-hover: #768c00;

  /* Code / Syntax Highlighting */
  --code-normal: #5a8f65;
  --code-comment: #26541c;
  --code-function: #a19021;
  --code-important: #b67c8d;
  --code-keyword: #b67c8d;
  --code-operator: #00280f;
  --code-property: #3d7149;
  --code-punctuation: #26541c;
  --code-string: #768c00;
  --code-tag: #a19021;
  --code-value: #c67b36;
  --code-background: #e4dec8;

  /* Tags */
  --tag-color: #c67b36;
  --tag-color-hover: #c67b36;
  --tag-background: #e4dec8;
  --tag-background-hover: #e4dec8;

  /* Graph */
  --graph-line: #e4dec8;
  --graph-node: #c67b36;
  --graph-node-focused: #c67b36;
  --graph-node-tag: #459178;
  --graph-node-attachment: #768c00;

  /* Scrollbar */
  --scrollbar-bg: #f7e9d6;
  --scrollbar-thumb-bg: #e4dec8;
  --scrollbar-active-thumb-bg: #26541c;

  /* Nav */
  --nav-item-background-hover: #e4dec8;
  --nav-item-background-active: #e4dec8;
  --nav-item-background-selected: #ffeedd;
  --nav-item-color: #00280f;
  --nav-item-color-hover: #00280f;
  --nav-item-color-active: #c67b36;
  --nav-item-color-selected: #00280f;
}
