

/* Black Atom — Minium ∷ Polymer Dark */
.theme-dark.black-atom-minium-polymer-dark {
  /* Foundation: Base Colors */

  --color-base-00: #000203;
  --color-base-05: #030608;
  --color-base-10: #090e10;
  --color-base-20: #111719;
  --color-base-25: #585f61;
  --color-base-30: #747c7e;
  --color-base-35: #868e90;
  --color-base-40: #9ea6a9;
  --color-base-50: #e4edf0;
  --color-base-60: #ebf3f6;
  --color-base-70: #f2fafd;
  --color-base-100: #f8ffff;


  /* Extended Colors */
  --color-red: #9ea6a9;
  --color-red-rgb: 158, 166, 169;
  --color-orange: #1a97fc;
  --color-orange-rgb: 26, 151, 252;
  --color-yellow: #fc8e06;
  --color-yellow-rgb: 252, 142, 6;
  --color-green: #868e90;
  --color-green-rgb: 134, 142, 144;
  --color-cyan: #9ea6a9;
  --color-cyan-rgb: 158, 166, 169;
  --color-blue: #9ea6a9;
  --color-blue-rgb: 158, 166, 169;
  --color-purple: #868e90;
  --color-purple-rgb: 134, 142, 144;
  --color-pink: #868e90;
  --color-pink-rgb: 134, 142, 144;

  /* Backgrounds */
  --background-primary: #030608;
  --background-primary-alt: #090e10;
  --background-secondary: #000203;
  --background-secondary-alt: #000203;
  --background-modifier-hover: #090e10;
  --background-modifier-active-hover: #090e10;
  --background-modifier-border: #090e10;
  --background-modifier-border-hover: #090e10;
  --background-modifier-border-focus: #fc8e06;
  --background-modifier-error-rgb: 75, 40, 41;
  --background-modifier-error: #4b2829;
  --background-modifier-error-hover: #4b2829;
  --background-modifier-success-rgb: 57, 63, 41;
  --background-modifier-success: #393f29;
  --background-modifier-message: #2a3d45;
  --background-modifier-form-field: #030608;

  /* Text */
  --text-normal: #f2fafd;
  --text-muted: #868e90;
  --text-faint: #747c7e;
  --text-accent: #fc8e06;
  --text-accent-hover: #fc8e06;
  --text-on-accent: #030608;
  --text-on-accent-inverted: #f2fafd;
  --text-error: #dd7577;
  --text-warning: #d6b174;
  --text-success: #a9ba78;
  --text-selection: #111719;
  --text-highlight-bg: #111719;

  /* Interactive */
  --interactive-normal: #030608;
  --interactive-hover: #090e10;
  --interactive-accent: #fc8e06;
  --interactive-accent-hover: #fc8e06;

  /* Headings */
  --h1-color: #fc8e06;
  --h2-color: #fc8e06;
  --h3-color: #fc8e06;
  --h4-color: #9ea6a9;
  --h5-color: #9ea6a9;
  --h6-color: #9ea6a9;

  /* Markup */
  --bold-color: #fc8e06;
  --italic-color: #fc8e06;
  --blockquote-border-color: #747c7e;
  --link-color: #1a97fc;
  --link-color-hover: #1a97fc;
  --link-external-color: #1a97fc;
  --link-external-color-hover: #1a97fc;

  /* Code / Syntax Highlighting */
  --code-normal: #ebf3f6;
  --code-comment: #868e90;
  --code-function: #fc8e06;
  --code-important: #1a97fc;
  --code-keyword: #1a97fc;
  --code-operator: #f2fafd;
  --code-property: #1a97fc;
  --code-punctuation: #e4edf0;
  --code-string: #ebf3f6;
  --code-tag: #fc8e06;
  --code-value: #e4edf0;
  --code-background: #000203;

  /* Tags */
  --tag-color: #fc8e06;
  --tag-color-hover: #fc8e06;
  --tag-background: #090e10;
  --tag-background-hover: #090e10;

  /* Graph */
  --graph-line: #090e10;
  --graph-node: #fc8e06;
  --graph-node-focused: #fc8e06;
  --graph-node-tag: #9ea6a9;
  --graph-node-attachment: #868e90;

  /* Scrollbar */
  --scrollbar-bg: #030608;
  --scrollbar-thumb-bg: #090e10;
  --scrollbar-active-thumb-bg: #868e90;

  /* Nav */
  --nav-item-background-hover: #090e10;
  --nav-item-background-active: #090e10;
  --nav-item-background-selected: #111719;
  --nav-item-color: #f2fafd;
  --nav-item-color-hover: #f2fafd;
  --nav-item-color-active: #fc8e06;
  --nav-item-color-selected: #f2fafd;
}
