

/* Black Atom — Minium ∷ Viridian Light */
.theme-light.black-atom-minium-viridian-light {
  /* Foundation: Base Colors */

  --color-base-00: #f1fbf7;
  --color-base-05: #dcf1e9;
  --color-base-10: #c2dfd4;
  --color-base-20: #aed5c6;
  --color-base-25: #88cfb6;
  --color-base-30: #6fb59d;
  --color-base-35: #569c85;
  --color-base-40: #3a816a;
  --color-base-50: #215848;
  --color-base-60: #204c3e;
  --color-base-70: #194034;
  --color-base-100: #12352a;


  /* Extended Colors */
  --color-red: #88cfb6;
  --color-red-rgb: 136, 207, 182;
  --color-orange: #e95e00;
  --color-orange-rgb: 233, 94, 0;
  --color-yellow: #e95e00;
  --color-yellow-rgb: 233, 94, 0;
  --color-green: #00af44;
  --color-green-rgb: 0, 175, 68;
  --color-cyan: #00b37c;
  --color-cyan-rgb: 0, 179, 124;
  --color-blue: #88cfb6;
  --color-blue-rgb: 136, 207, 182;
  --color-purple: #bb929a;
  --color-purple-rgb: 187, 146, 154;
  --color-pink: #ab838b;
  --color-pink-rgb: 171, 131, 139;

  /* Backgrounds */
  --background-primary: #dcf1e9;
  --background-primary-alt: #f1fbf7;
  --background-secondary: #c2dfd4;
  --background-secondary-alt: #c2dfd4;
  --background-modifier-hover: #c2dfd4;
  --background-modifier-active-hover: #c2dfd4;
  --background-modifier-border: #f1fbf7;
  --background-modifier-border-hover: #c2dfd4;
  --background-modifier-border-focus: #e95e00;
  --background-modifier-error-rgb: 253, 209, 204;
  --background-modifier-error: #fdd1cc;
  --background-modifier-error-hover: #fdd1cc;
  --background-modifier-success-rgb: 217, 226, 197;
  --background-modifier-success: #d9e2c5;
  --background-modifier-message: #c9e4f6;
  --background-modifier-form-field: #dcf1e9;

  /* Text */
  --text-normal: #194034;
  --text-muted: #3a816a;
  --text-faint: #6fb59d;
  --text-accent: #e95e00;
  --text-accent-hover: #e95e00;
  --text-on-accent: #c2dfd4;
  --text-on-accent-inverted: #194034;
  --text-error: #f14d4c;
  --text-warning: #cd7b00;
  --text-success: #819e00;
  --text-selection: #aed5c6;
  --text-highlight-bg: #aed5c6;

  /* Interactive */
  --interactive-normal: #dcf1e9;
  --interactive-hover: #c2dfd4;
  --interactive-accent: #e95e00;
  --interactive-accent-hover: #e95e00;

  /* Headings */
  --h1-color: #e95e00;
  --h2-color: #e95e00;
  --h3-color: #e95e00;
  --h4-color: #3a816a;
  --h5-color: #3a816a;
  --h6-color: #3a816a;

  /* Markup */
  --bold-color: #e95e00;
  --italic-color: #e95e00;
  --blockquote-border-color: #6fb59d;
  --link-color: #00af44;
  --link-color-hover: #00af44;
  --link-external-color: #00af44;
  --link-external-color-hover: #00af44;

  /* Code / Syntax Highlighting */
  --code-normal: #204c3e;
  --code-comment: #569c85;
  --code-function: #e95e00;
  --code-important: #e95e00;
  --code-keyword: #e95e00;
  --code-operator: #194034;
  --code-property: #3a816a;
  --code-punctuation: #215848;
  --code-string: #569c85;
  --code-tag: #00af44;
  --code-value: #194034;
  --code-background: #c2dfd4;

  /* Tags */
  --tag-color: #e95e00;
  --tag-color-hover: #e95e00;
  --tag-background: #c2dfd4;
  --tag-background-hover: #f1fbf7;

  /* Graph */
  --graph-line: #f1fbf7;
  --graph-node: #e95e00;
  --graph-node-focused: #e95e00;
  --graph-node-tag: #00b37c;
  --graph-node-attachment: #00af44;

  /* Scrollbar */
  --scrollbar-bg: #dcf1e9;
  --scrollbar-thumb-bg: #f1fbf7;
  --scrollbar-active-thumb-bg: #3a816a;

  /* Nav */
  --nav-item-background-hover: #c2dfd4;
  --nav-item-background-active: #f1fbf7;
  --nav-item-background-selected: #aed5c6;
  --nav-item-color: #194034;
  --nav-item-color-hover: #194034;
  --nav-item-color-active: #e95e00;
  --nav-item-color-selected: #194034;
}
