

/* Black Atom — MNML ∷ 47 Dark */
.theme-dark.black-atom-mnml-47-dark {
  /* Foundation: Base Colors */

  --color-base-00: #12352a;
  --color-base-05: #194034;
  --color-base-10: #204c3e;
  --color-base-20: #215848;
  --color-base-25: #3a816a;
  --color-base-30: #569c85;
  --color-base-35: #6fb59d;
  --color-base-40: #88cfb6;
  --color-base-50: #aed5c6;
  --color-base-60: #c2dfd4;
  --color-base-70: #dcf1e9;
  --color-base-100: #f1fbf7;


  /* Extended Colors */
  --color-red: #88cfb6;
  --color-red-rgb: 136, 207, 182;
  --color-orange: #e09f4d;
  --color-orange-rgb: 224, 159, 77;
  --color-yellow: #e09f4d;
  --color-yellow-rgb: 224, 159, 77;
  --color-green: #6fc483;
  --color-green-rgb: 111, 196, 131;
  --color-cyan: #47c7a2;
  --color-cyan-rgb: 71, 199, 162;
  --color-blue: #88cfb6;
  --color-blue-rgb: 136, 207, 182;
  --color-purple: #ecc1c9;
  --color-purple-rgb: 236, 193, 201;
  --color-pink: #cba1aa;
  --color-pink-rgb: 203, 161, 170;

  /* Backgrounds */
  --background-primary: #194034;
  --background-primary-alt: #204c3e;
  --background-secondary: #12352a;
  --background-secondary-alt: #12352a;
  --background-modifier-hover: #204c3e;
  --background-modifier-active-hover: #204c3e;
  --background-modifier-border: #204c3e;
  --background-modifier-border-hover: #204c3e;
  --background-modifier-border-focus: #ed9562;
  --background-modifier-error-rgb: 112, 74, 74;
  --background-modifier-error: #704a4a;
  --background-modifier-error-hover: #704a4a;
  --background-modifier-success-rgb: 92, 98, 75;
  --background-modifier-success: #5c624b;
  --background-modifier-message: #4c6069;
  --background-modifier-form-field: #194034;

  /* Text */
  --text-normal: #dcf1e9;
  --text-muted: #6fb59d;
  --text-faint: #569c85;
  --text-accent: #ed9562;
  --text-accent-hover: #ed9562;
  --text-on-accent: #194034;
  --text-on-accent-inverted: #dcf1e9;
  --text-error: #dd7577;
  --text-warning: #d6b174;
  --text-success: #a9ba78;
  --text-selection: #215848;
  --text-highlight-bg: #215848;

  /* Interactive */
  --interactive-normal: #194034;
  --interactive-hover: #204c3e;
  --interactive-accent: #ed9562;
  --interactive-accent-hover: #ed9562;

  /* Headings */
  --h1-color: #ed9562;
  --h2-color: #ed9562;
  --h3-color: #ed9562;
  --h4-color: #88cfb6;
  --h5-color: #88cfb6;
  --h6-color: #88cfb6;

  /* Markup */
  --bold-color: #ed9562;
  --italic-color: #ed9562;
  --blockquote-border-color: #569c85;
  --link-color: #6fc483;
  --link-color-hover: #6fc483;
  --link-external-color: #6fc483;
  --link-external-color-hover: #6fc483;

  /* Code / Syntax Highlighting */
  --code-normal: #c2dfd4;
  --code-comment: #6fb59d;
  --code-function: #ed9562;
  --code-important: #dcf1e9;
  --code-keyword: #dcf1e9;
  --code-operator: #dcf1e9;
  --code-property: #6fc483;
  --code-punctuation: #aed5c6;
  --code-string: #c2dfd4;
  --code-tag: #ed9562;
  --code-value: #aed5c6;
  --code-background: #12352a;

  /* Tags */
  --tag-color: #ed9562;
  --tag-color-hover: #ed9562;
  --tag-background: #204c3e;
  --tag-background-hover: #204c3e;

  /* Graph */
  --graph-line: #204c3e;
  --graph-node: #ed9562;
  --graph-node-focused: #ed9562;
  --graph-node-tag: #47c7a2;
  --graph-node-attachment: #6fc483;

  /* Scrollbar */
  --scrollbar-bg: #194034;
  --scrollbar-thumb-bg: #204c3e;
  --scrollbar-active-thumb-bg: #6fb59d;

  /* Nav */
  --nav-item-background-hover: #204c3e;
  --nav-item-background-active: #204c3e;
  --nav-item-background-selected: #215848;
  --nav-item-color: #dcf1e9;
  --nav-item-color-hover: #dcf1e9;
  --nav-item-color-active: #ed9562;
  --nav-item-color-selected: #dcf1e9;
}
